html {
    font-size: 62.5%;
}
 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 body {
     background-image: url("apple_back.jpg");
 }

 #main-container {
     width: 100%;
     min-height: 100%;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 60rem;
 }

 #menu-container {
     width: 90%;
     height: 10rem;
     border: 1px solid grey;
     border-radius: 12px;
     display: flex;
     justify-content: space-between;
     align-content: center;
     padding: 1rem;
 }

 .submenu {
     width: 5%;
     height: 7rem;
     border-radius: 6px;
     transition: 1s;
     background-size: 100%;
     background-repeat: no-repeat;
 }

 #icon1 {
     background-image: url("calendarIcon.png");
 }

 #icon2 {
     background-image: url("faceTimeICON.png");
 }

 #icon3 {
     background-image: url("downloadIcon.png");
 }

 #icon4 {
     background-image: url("folderIcon.ico");
 }

#icon5 {
    background-image: url("mailIcon.png");
}

#icon6 {
    background-image: url("planIcon.svg");
}

#icon7 {
    background-image: url("messageIcon.svg.png");
}

#icon8 {
    background-image: url("photoIcon.png");
}

#icon9 {
    background-image: url("catIcon.jpg");
}

#icon10 {
    background-image: url("safariIcon.png");
}

#icon11 {
    background-image: url("settingsIcon.png");
}

#icon12 {
    background-image: url("githubIcon.png");
}